
    body{
        
        background-color : rgb(20, 19, 19); 
        background: url("webclubimg.jpg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        } 
        .search{

            padding-left: 4px;
         
        }
      .red{

    border : 1px solid  white;
    text-decoration: none; 
    


      }  
      .red:hover{

        color: white;
        background: rgb(170, 169, 169); 

      }  
     .webtext
    {
        position : absolute;
        margin: auto;
        width: 25%;
        font-family: cursive;
        font-weight: bold;
        text-align: center;
        margin-left: 35%;
        padding-top:7.5%;
        font-size: 290%;
        color:black;  
    } 
    .navigate
    {
        font-size: 110%;
        margin-left:58%; 
    }
    .navigate a
    {
        cursor: pointer;
        padding: 10px;
        color: yellow;
    }
    .navigate input[type=text]
    {
       float: right;
       border: solid black 2px;
       height: 25px;
    }
    
    .image
    {
        float: left;
        border-radius: 5px;
        margin-top:11.5%;
        margin-left: 18%;
        height: 200px;
        width:140px;
        border: solid 2px yellowgreen;
        background-size: 100px; 
    }

    

    
    